name: Build Android

on:
  push:
    branches: [ "master", "main" ]
  pull_request:
    branches: [ "master", "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive
    
    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: gradle

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew

    - name: Install NDK & CMake
      run: echo "y" | sudo ${ANDROID_HOME}/cmdline-tools/latest/bin/sdkmanager --install "ndk;23.2.8568313" "cmake;3.22.1"

    - name: Create local.properties
      run: |
        echo "sdk.dir=$ANDROID_SDK_ROOT" > local.properties
        echo "tgx.extension=none" >> local.properties
        echo "telegram.api_id=21569710" >> local.properties
        echo "telegram.api_hash=06c3de24f27f101a7c05e61ecf0327d2" >> local.properties
        echo "app.id=org.thunderdog.challegram" >> local.properties
        echo "app.name=Telegram X" >> local.properties
        echo "app.download_url=https://example.com" >> local.properties
        echo "google.play.url=https://example.com" >> local.properties
        echo "galaxy.store.url=https://example.com" >> local.properties
        echo "huawei.appgallery.url=https://example.com" >> local.properties
        echo "amazon.appstore.url=https://example.com" >> local.properties

    - name: Build with Gradle
      run: ./gradlew assembleLatestUniversalDebug
