name: Build Telegram X APK

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4
      with:
        submodules: recursive

    # ВОТ ТУТ МЕНЯЕМ НА 21
    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: gradle

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew

    - name: Create local.properties
      run: |
        echo "api_id=${{ secrets.API_ID }}" > local.properties
        echo "api_hash=${{ secrets.API_HASH }}" >> local.properties

    - name: Build with Gradle
      run: ./gradlew assembleDebug --stacktrace

    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: telegram-x-debug
        path: app/build/outputs/apk/debug/*.apk
